@font-face {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

body {
    background-color: dimgrey;
    color: #333;
    font: 10em Helvetica;
    alignment: center;
}

h1 {
   text-align: center;
    font-size: 5rem;
    color: yellow;
}

.grid > * {
    background-color: #000000;
    color: #ffff00;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    justify-content: center;
}

.board {
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    background-color: #000000;
}

.col-a {
    border-right: 10px solid yellow;
}
.col-b {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
}
.col-c {
    border-left: 10px solid yellow;
}

.row-1 {
    border-bottom: 10px solid yellow;
}
.row-2 {
    border-bottom: 10px solid yellow;
    border-top: 10px solid yellow;
}
.row-3 {
    border-top: 10px solid yellow;
}