@font-face {
    font-family: 'opendyslexic';
    src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: eulexia;
    src: url('https://dyslexicfonts.com/fonts/eulexia.ttf');
}

body {
    background-color: dimgrey;
    color: #333;
    font: 2em opendyslexic;
}

h1 {
   text-align: center;
    font-size: 5rem;
    color: yellow;
}

.grid > * {
    background-color: #000000;
    color: #ffff00;
    padding: 1em;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
}

.board {
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    background-color: #000000;
}

.col-a {
    border-right: 10px solid yellow;
}
.col-b {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
}
.col-c {
    border-left: 10px solid yellow;
}

.row-1 {
    border-bottom: 10px solid yellow;
}
.row-2 {
    border-bottom: 10px solid yellow;
    border-top: 10px solid yellow;
}
.row-3 {
    border-top: 10px solid yellow;
}