@font-face {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

body {
    alignment: center;
    background-color: dimgrey;
    color: #333;
    font: 10em Helvetica;
}

/*Div Grid CSS*/

h1 {
    color: yellow;
    font-weight: 300;
    font-size: 10rem;
    text-align: center;
}

.grid > * {
    background-color: #000000;
    color: #ffff00;
    padding: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    justify-content: center;
}

.board {
    background-color: #000000;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
}

.col-a {
    border-right: 10px solid yellow;
}
.col-b {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
}
.col-c {
    border-left: 10px solid yellow;
}

.row-1 {
    border-bottom: 10px solid yellow;
}
.row-2 {
    border-bottom: 10px solid yellow;
    border-top: 10px solid yellow;
}
.row-3 {
    border-top: 10px solid yellow;
}

/*Table CSS*/

table {
    border-color: yellow;
    border-spacing: 0;
    margin: auto;
    padding: 25px;
    width: auto;
}

tr td {
    color: yellow;
    padding: 50px;
    width: auto;
}